<div className="register">
    <div className="overlap-wrapper">
        <div className="overlap">
            <div className="overlap-group">
                <div className="text-wrapper">RetroSpeaks</div>
            </div>
            <div className="div">
                <div className="password">
                    <div className="overlap-group-2">
                        <div className="text-wrapper-2">Password</div>
                        <img className="fluent-password" alt="Fluent password" src="fluent-password-24-regular.png" />
                    </div>
                </div>
                <div className="user-name">
                    <div className="overlap-2">
                        <div className="text-wrapper-3">Username</div>
                        <img className="vector" alt="Vector" src="vector.png" />
                    </div>
                </div>
                <div className="lastname">
                    <div className="overlap-3">
                        <div className="text-wrapper-4">Lastname</div>
                        <img className="img" alt="Vector" src="vector-2.png" />
                    </div>
                </div>
                <div className="firstname">
                    <div className="overlap-4">
                        <div className="text-wrapper-5">Firstname</div>
                        <img className="vector-2" alt="Vector" src="image.png" />
                    </div>
                </div>
                <div className="overlap-group-wrapper">
                    <div className="div-wrapper">
                        <div className="text-wrapper-6">Register</div>
                    </div>
                </div>
                <h1 className="h-1">Register your Account</h1>
                <div className="overlap-5">
                    <div className="login">Have an Account?</div>
                    <div className="login-2">
                        <div className="overlap-6">
                            <div className="text-wrapper-7">Login</div>
                        </div>
                    </div>
                    <p className="p">Login and Start Discover what Retrospeaks is. Discuss and Connect now!</p>
                </div>
            </div>
        </div>
    </div>
</div>