<div className="login">
    <div className="overlap-wrapper">
        <div className="overlap">
            <div className="overlap-group">
                <div className="text-wrapper">RetroSpeaks</div>
            </div>
            <div className="div">
                <div className="user-name">
                    <div className="overlap-group-2">
                        <div className="text-wrapper-2">Username</div>
                        <img className="vector" alt="Vector" src="vector.png" />
                    </div>
                </div>
                <div className="password">
                    <div className="overlap-2">
                        <div className="text-wrapper-3">Password</div>
                        <img className="fluent-password" alt="Fluent password" src="fluent-password-24-regular.png" />
                    </div>
                </div>
                <div className="overlap-group-wrapper">
                    <div className="div-wrapper">
                        <div className="text-wrapper-4">Login</div>
                    </div>
                </div>
                <h1 className="h-1">Login to your Account</h1>
                <div className="overlap-3">
                    <div className="sign-up-BG" />
                    <div className="text-wrapper-5">New Here?</div>
                    <div className="sign-up">
                        <div className="login-wrapper">
                            <div className="text-wrapper-6">SignUp</div>
                        </div>
                    </div>
                    <p className="p">Sign Up and Discover what Retrospeaks is. Discuss and Connect now!</p>
                </div>
                <div className="text-wrapper-7">Forgot Password?</div>
            </div>
        </div>
    </div>
</div>