<div className="forgot">
    <div className="forgot-password">
        <div className="overlap">
            <div className="overlap-group">
                <div className="text-wrapper">RetroSpeaks</div>
            </div>
            <div className="rectangle" />
        </div>
        <div className="group">
            <div className="div">
                <div className="overlap-2">
                    <img className="img" alt="Group" src="group-9.png" />
                    <div className="overlap-wrapper">
                        <div className="overlap-3">
                            <div className="overlap-group-2">
                                <p className="password-must-be-at">
                                    Password must be at least 8 characters long. <br />
                                    Password must contain at least one upper case. <br />
                                    One lower case letter. <br />
                                    Password must contain at least one number or special character
                                </p>
                                <h1 className="h-1">NEW CREDENTIALS</h1>
                            </div>
                            <img className="group-2" alt="Group" src="image.png" />
                            <img className="group-3" alt="Group" src="group-10.png" />
                        </div>
                    </div>
                </div>
                <div className="overlap-4">
                    <img className="button" alt="Button" src="button.png" />
                    <div className="div-wrapper">
                        <div className="text-wrapper-2">Cancel</div>
                    </div>
                    <div className="input">
                        <div className="base">
                            <div className="label">Re-type Password</div>
                            <div className="input-icon">
                                <div className="input-2">
                                    <div className="input-value">
                                        <div className="input-text">*******</div>
                                    </div>
                                    <div className="inside-icon">
                                        <IconChevronDown />
                                    </div>
                                </div>
                                <div className="outside-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div className="base-wrapper">
                    <div className="base-2">
                        <div className="label-2">New Password</div>
                        <div className="input-icon-2">
                            <div className="input-3">
                                <div className="input-value-2">
                                    <div className="input-text-2">*******</div>
                                </div>
                                <div className="icon-inside-wrapper">
                                    <IconChevronDown />
                                </div>
                            </div>
                            <div className="outside-icon-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>