.forgot-password {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.forgot-password .overlap-wrapper {
    background-color: #ffffff;
    border: 1px none;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
}

.forgot-password .overlap {
    height: 1024px;
    position: relative;
    width: 1442px;
}

.forgot-password .page-background {
    background-color: #d9d9d9;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.forgot-password .rectangle {
    background-color: #ffffff;
    border-radius: 48px;
    height: 504px;
    left: 280px;
    position: absolute;
    top: 260px;
    width: 880px;
}

.forgot-password .group {
    height: 796px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;
}

.forgot-password .overlap-group {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #0000000d;
    height: 67px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.forgot-password .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 19px;
    font-weight: 600;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    width: 137px;
}

.forgot-password .overlap-group-wrapper {
    height: 537px;
    left: 280px;
    position: absolute;
    top: 259px;
    width: 893px;
}

.forgot-password .overlap-2 {
    background-image: url(./rectangle-3.png);
    background-size: 100% 100%;
    height: 569px;
    left: -16px;
    position: relative;
    top: -14px;
    width: 925px;
}

.forgot-password .div-wrapper {
    height: 219px;
    left: 128px;
    position: absolute;
    top: 261px;
    width: 723px;
}

.forgot-password .overlap-group-2 {
    height: 234px;
    left: -60px;
    position: relative;
    width: 791px;
}

.forgot-password .button {
    height: 178px;
    left: 0;
    position: absolute;
    top: 56px;
    width: 791px;
}

.forgot-password .button-2 {
    box-shadow: 0px 16px 60px #4e4f7214;
    height: 26px;
    left: 323px;
    position: absolute;
    top: 193px;
    width: 144px;
}

.forgot-password .text-wrapper-2 {
    color: #321d81;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 142px;
}

.forgot-password .group-2 {
    height: 118px;
    left: 124px;
    position: absolute;
    top: 92px;
    width: 636px;
}

.forgot-password .provide-your-account {
    color: #3c3c3c;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 73px;
    left: 0;
    letter-spacing: -1px;
    line-height: normal;
    position: absolute;
    top: 45px;
    width: 632px;
}

.forgot-password .h-1 {
    color: #010101;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    height: 24px;
    left: 0;
    letter-spacing: -1px;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 503px;
}
